section {

	&.intro {
		height: 100vh;

		&:before {
		    content: '';
		    background: rgba(0,0,0,0.8);
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}

		.say-hello {
			color: #fff;
	        position: absolute;
	        top: 50%;
	        transform: translateY(-50%);
	        left: 0;
	        right: 0;
	        font-size: 44px;
    		padding: 40px;
	    }

	    .dot {
	    	&:before {
		    	content: '';
			    display: inline-block;
			    padding: 5px;
			    background: #cc0e0e;
			    margin-left: 4px;
			    opacity: 0;
			    transform: translateX(-20px);
			    transition: all 0.15s ease-in;
	    	}

	    	&.is-active {
	    		&:before {
	    			opacity: 1;
					transform: translateX(0);
	    		}
	    	}
	    }
	}
}