.mastfooter {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .mastfooter-inner {
    	padding: 40px 0;
    	text-align: center;
    }
	
	.social-media {
        font-size: 30px;
	}

	.c-details {
		margin-top: 20px;

		.c-detail {
			display: flex;
		    flex-flow: row wrap;
		    align-items: center;
		    justify-content: center;
		}

		.icon {
			font-size: 32px;
			margin-right: 8px;
		}

		a {
			text-decoration: none;
		}
	}
}