.item {
	padding: 40px 20px;

	.item-title {
		color: inherit;
	}

	&.skill {
		.icon {
			margin-right: 10px;
		}
	}

	&.portfolio {
		position: relative;
		padding-bottom: 60%;

		&:before {
			content: '';
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: rgba(0,0,0,0.4);
		    z-index: 1;
		}
		.overlay-image {
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
		}
		.content {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
    		text-align: left;
    		padding: 20px 20px 0px 20px;
		}
		.item-title {
			font-size: 18px;
		    text-transform: none;
		    margin-bottom: 2px;
		}
		.description {
			opacity: 0;
			transform: translateY(15px);
			transition: all 0.15s ease-in-out;
			font-size: 12px;
		}
		.visit-link {
			position: absolute;
		    z-index: 2;
		    right: 20px;
		    bottom: 10px;
		    color: #fff;
		    text-decoration: none;

		    span {
		    	margin-right: 10px;
		    }
		}
		&:hover {
			.description {
				opacity: 1;
				transform: translateY(0);
			}
		}
		&.clear-styles {
			margin-top: 55px;
			padding-bottom:0;
			&:before {
				display: none;
			}
		}
	}
}