.button {
	padding: 10px 20px;
	margin: 10px 0;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	background: rgba(214, 184, 126, 0.8);
	color: #fff;
	transition: all 0.2s ease-in-out;

	&:hover {
		background: darken(rgba(214, 184, 126, 0.8), 10%);
	}
}