.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 19px;
}
.hamburger span {
  align-self: flex-end;
	height: 1px;
	width: 100%;
	background: #fff;
}
.hamburger .meat {
   	width: 75%;
  	transition: all 100ms ease-in-out;
}
.hamburger .bottom-bun {
   	width: 50%;
   	transition: all 200ms ease-in-out;
}
.hamburger:hover span {
  width: 100%;
}
// .hamburger:hover .top-bun {
//     animation: burger-hover 1s infinite ease-in-out alternate;
// }
// .hamburger:hover .meat {
//     animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
// }
// .hamburger:hover .bottom-bun {
//     animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
// }

// @-webkit-keyframes burger-hover {
//   0% {
//     width: 100%;
//   }
//   50% {
//     width: 50%;
//   }
//   100% {
//     width: 100%;
//   }
// }

// @keyframes burger-hover {
//   0% {
//     width: 100%;
//   }
//   50% {
//     width: 50%;
//   }
//   100% {
//     width: 100%;
//   }
// }
