.item {
	padding: 40px 20px;

	@include until($tablet){
		padding: 30px 20px;
	}

	.item-title {
		color: inherit;
	}

	&.skill {
		.icon {
			margin-right: 10px;
		}
	}

	&.portfolio {
		position: relative;
		padding-bottom: 60%;
		backface-visibility: hidden;

		@include at-least($tablet){
			margin: 0 20px;
		}

		@include until($tablet){
			margin-bottom: 120px;
		}

		.overlay-image {
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
		}
		.portfolio-content {
			position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: 10;
		    background: rgba(204,51,65,0.85);

		    @include until($tablet){
				bottom: initial;
				top: 100%;
			}
		}
		.content {
    		padding: 20px 85px 0px 20px;
			text-align: left;
		}
		.item-title {
			font-size: 18px;
		    text-transform: none;
		    margin-bottom: 2px;
		}
		.description {
			font-size: 12px;
			@include at-least($tablet){
				opacity: 0;
				transform: translateY(15px);
				transition: all 0.15s ease-in-out;
			}
		}
		.visit-link {
			position: absolute;
		    z-index: 2;
		    right: 20px;
		    bottom: 10px;
		    color: #fff;
		    text-decoration: none;

		    span {
		    	margin-right: 10px;
		    }
		}
		&:hover {
			.description {
				@include at-least($tablet){
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		&.clear-styles {
			margin-top: 55px;
			padding-bottom:0;
			&:before {
				display: none;
			}
		}
	}
}